body{
font-family:Arial;
background:#f2f2f2;
font-size:16px;
}

h1{
font-size:30px;
padding-bottom: 75px;
}

h2{
font-size:20px;
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
padding:20px;
}

.menu,button{
    display: block;
    margin-bottom: 30px;
    height: 80px;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:#2d89ef;
color:white;
font-size:18px;
}

.pagina{

display:none;
padding:15px;

}

input,select{
width:95%;
padding:12px;
margin:6px 0;
font-size:16px;
}

.item{
background:white;
padding:12px;
margin:8px 0;
border-radius:8px;
}

.produto{
background:#ddd;
padding:12px;
margin-top:10px;
border-radius:8px;
}

.sugestao{

background:white;
padding:8px;
border-bottom:1px solid #ccc;
cursor:pointer;

}

.vencendo20{
    background:yellow;
}
    
.vencendo15{
    background:#fd1717;
}

#configButton{
    width: 70px;
    height: 70px;
    background-image: url(images/jsonimport.png);
    position: absolute;
    margin-left: 77%;
    bottom: -20px;
}

#exportarjson{
    width: 70px;
    height: 70px;
    background-image: url(images/jsonexport.png);
    margin-left: 65%;
    position: absolute;
    bottom: 200px;
}

#configTextExport{
    background-color:hwb(59 30% 8%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 190px;
    margin-left: 62%;
}

#importarjson{
    width: 70px;
    height: 70px;
    background-image: url(images/jsonimport.png);
    margin-left: 20%;
    position: absolute;
    bottom: 200px;
}

#configTextImport{
    background-color:hwb(59 30% 8%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 190px;
    margin-left: 17%;
}

#filtrosFreezer{
    display:flex;
    overflow-x:auto;
    gap:5px;
    margin-bottom:10px;
}

#filtrosFreezer button{
    padding:8px 12px;
    font-size:14px;
}